{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-single"
    ]
  },
  "overrides": [{
    "files": [
       "src/**/*.js"
    ],
    "rules": {
      "import/no-anonymous-default-export": ["error", {
        "allowArray": false,
        "allowArrowFunction": true,
        "allowAnonymousClass": false,
        "allowAnonymousFunction": false,
        "allowCallExpression": true,
        "allowLiteral": false,
        "allowObject": false
     }]
    }
 }]
}